.login-form {
  max-width: 330px;
  margin: 0 auto;

  .btn-primary {
    position: relative;
  }

  .btn-primary[disabled]:after {
    @include fa-icon();
    @extend .fa-spin;
    position: absolute;
    content: $fa-var-circle-o-notch;
    right: 10px;
    top: 8px;
  }
}

