$livingstyleguide--background-color: 'white';

.livingstyleguide--headline {
  margin-bottom: 15px !important;
}

.livingstyleguide--paragraph {
  text-align: center !important;
}

.livingstyleguide--code-block {
  overflow: auto !important;
  border-radius: 5px !important;
  background-color: whitesmoke !important;
  border: 1px dashed lightgray !important;
}

.livingstyleguide--code {
  padding: 5px !important;
}
