<a href="#"
   class="dropdown-toggle" data-toggle="dropdown" role="button"
   aria-haspopup="true" aria-expanded="false">
  {{account.name}}
  <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li><a {{action 'logout'}} href="#">Logout</a></li>
</ul>
