<div class="login-form">
  <h3>Sign in to Roundcube</h3>
  <form class='form-inline'>
    {{input name='uuid' value=uuid class='form-control'
      placeholder='JMAP Proxy UUID'}}
    <button {{action 'submit'}} type='submit' class='btn btn-primary'>
      Sign in
    </button>
  </form>
</div>
